{% extends "layout.html" %}

{% set aktiva_lapa = "administresana" %}

{% block saturs %}
<h1>Administrēšana</h1>
<p class="fs-5 col-md-8">Sistēmas Easy Redmine lietotājam ar administratora tiesībām pieejama atsevišķa administrācijas
    sadaļa, kas ietver iespējas veikt sistēmas konfigurāciju. Šī funkcionalitāte satur šādus galvenos konfigurācijas
    elementus:
    <li>projekti,</li>
    <li>uzdevumi,</li>
    <li>lietotāji,</li>
    <li>datu imports un eksports,</li>
    <li>drošība,</li>
    <li>vispārējie uzstādījumi.</li>
</p>
{% endblock %}