{% extends "layout.html" %}

{% block saturs %}
<h1>Ziņojumu dati</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Vārds</th>
            <th scope="col">Uzvārds</th>
            <th scope="col">E-pasts</th>
            <th scope="col">Ziņojums</th>
        </tr>
    </thead>
    <tbody>

        {% for ieraksts in ieraksti %}
        <tr>
            <td>{{ ieraksts[0] }}</td>
            <td>{{ ieraksts[1] }}</td>
            <td>{{ ieraksts[2] }}</td>
            <td>{{ ieraksts[3] }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}