{% extends "layout.html" %}

{% set aktiva_lapa = "galerija" %}

{% block saturs %}
<h1>Galerija</h1>
<p class="fs-5 col-md-8">Projekta vispārīga informācija</p>
<img src="/static/img/Projekta-vispariga-informacija.jpg" class="img-fluid" alt="Projekta vispārīga informācija">
<p></p>
<p class="fs-5 col-md-8">Projekta laika plānošana</p>
<img src="/static/img/Projekta-laika-planosana.jpg" class="img-fluid" alt="Projekta laika plānošana">
<p></p>
<p class="fs-5 col-md-8">Darbinieku noslogotība</p>
<img src="/static/img/Darbinieku-noslogotiba.jpg" class="img-fluid" alt="Darbinieku noslogotība">
<p></p>
<p class="fs-5 col-md-8">Uzdevumu statusu uzstādīšana</p>
<img src="/static/img/Uzdevumu-statusu-uzstadisana.jpg" class="img-fluid" alt="Uzdevumu statusu uzstādīšana">
{% endblock %}