{% extends "layout.html" %}

{% set aktiva_lapa = "par-easy-redmine" %}

{% block saturs %}
<h1>Par Easy Redmine</h1>
<p class="fs-5 col-md-8">Informācijas tehnoloģiju projektu vadības sistēma Easy Redmine ietver plašu funkcionalitāti,
    kas visaptveroši attiecas uz dažādiem IT projektu aspektiem. Šī funkcionalitāte satur šādus galvenos elementus:
    <li>projekta laika plānošana,</li>
    <li>cilvēkresursu plānošana,</li>
    <li>spējās izstrādes paneļa izmantošana,</li>
    <li>darbinieku aktivitāšu pārskatīšana,</li>
    <li>testpiemēru veidošana,</li>
    <li>finanšu resursu pārskatīšana,</li>
    <li>risku analizēšana,</li>
    <li>projekta dokumentu uzglabāšana,</li>
    <li>zināšanu glabātuves veidošana,</li>
    <li>tehniskā atbalsta nodrošināšana.</li>
</p>
{% endblock %}